<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>


    <!--הגדרת איזור הדפסה על הקסטה-->
    <add key="ImageWidth" value="108" />
    <add key="ImageHeight" value="35" />
    <add key="ImgPointX" value="0" />
    <add key="ImgPointY" value="0" />
    <!--End Mix Image-->

    <!--הגדרות איזור הברקוד על הקסטה, ביחס לאיזור ההדפסה-->
    <add key="barcodeWidth" value="25" />
    <add key="barcodeHeight" value="25" />
    <add key="barcodeX" value="0" />
    <add key="barcodeY" value="0" />

    <!--הגדרות איזור הטקסט על הקסטה, ביחס לאיזור ההדפסה-->
    <add key="TextWidth" value="80" />
    <add key="TextHeight" value="35" />
    <add key="TextX" value="38" />
    <add key="TextY" value="0" />


    <!-- הגדרות שורה עליונה ביחס לאיזור הטקסט-->
    <add key="TopTextX" value="0" />
    <add key="TopTextY" value="0" />

    <add key="TopTextFont" value="Tahoma" />
    <add key="TopTextFontSize" value="9" />
    <add key="TopTextBold" value="True" />

    <!-- הגדרות שורה תחתונה ביחס לאיזור הטקסט-->
    <add key="BottomTextX" value="40" />
    <add key="BottomTextY" value="15" />

    <add key="BottomTextFont" value="Tahoma" />
    <add key="BottomTextFontSize" value="10" />
    <add key="BottomTextBold" value="false" />









    <!--Default printer column-->
    <add key="PaperBin" value="1" />


    <add key="debug" value="false" />




  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>